.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Add padding to the container */
}

.button-group-name{
  font-size: 24px;
  margin-bottom: 10px;
}

.button-group{
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;  
}

.course-button {
  padding: 15px 40px; /* Double the button size */
  font-size: 22px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0, 0.2);
  transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
}

.course-button:hover {
  background-color: #0056b3;
  transform: scale(1.02);
}

.course-button:active {
  transform: scale(0.95);
  box-shadow: 0 1px 2px rgba(0,0,0, 0.2);
}


.header {
  font-size: 24px;
  margin-bottom: 20px; /* Add margin at the bottom */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.component {
  display: grid;
  
}

.comment-box {
  list-style: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
}

.comment-item {
  background-color: #f9f9f9; /* Light gray background */
  border: 1px solid #ddd; /* Light gray border */
  border-radius: 4px; /* Rounded corners */
  padding: 8px 12px; /* Some padding inside the box */
  margin-bottom: 10px; /* Space between comments */
  max-width: 600px; /* Set a max-width for comment box and center it */
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word; /* Ensure long words do not break the layout */
}